@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.slider {
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.slider-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  transition: all ease 1s;
  -webkit-transition: all ease 1s;
  -moz-transition: all ease 1s;
  -ms-transition: all ease 1s;
  -o-transition: all ease 1s;
}

.section5__for-blocks {
  padding: 25px;
}

.for-rounds {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}

.section6__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section6__menu ul li {
  font-family: "Century Gothic", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 36px;
  line-height: 44px;
  display: inline-block;
  padding: 100px 20px;
  cursor: pointer;
}
.section6__menu ul li:hover {
  text-shadow: 0 0 20px white;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.block-cover {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 30px;
}

.box {
  min-height: 140px;
}

.darkpink {
  border: 5px solid #411f2c;
}

.lightpink {
  border: 5px solid #e589ac;
}

.whiteb {
  border: 5px solid #ffffff;
}

.grey {
  border: 5px solid #3b3b3b;
}

.hide {
  opacity: 1;
  -webkit-animation-name: filtr;
          animation-name: filtr;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes filtr {
  to {
    opacity: 0;
    min-height: 0;
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
  }
}

@keyframes filtr {
  to {
    opacity: 0;
    min-height: 0;
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
  }
}
body {
  background: black;
}

p {
  font-family: "Century Gothic", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 24px;
  line-height: 30px;
  max-width: 744px;
}

h1 {
  font-family: "Century Gothic", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 48px;
  line-height: 58px;
}

h2 {
  font-family: "Century Gothic", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 36px;
  line-height: 44px;
}

h3 {
  font-family: "Century Gothic", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 36px;
  line-height: 45px;
}

.krestik:hover {
  text-shadow: 0 0 20px white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

a {
  font-family: "Century Gothic", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 36px;
  line-height: 44px;
  text-decoration: none;
  padding: 0 10px 0 74px;
  cursor: pointer;
}
a:hover {
  text-shadow: 0 0 20px white;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
a:not(:hover) {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
a:active {
  color: #B77B99;
  text-shadow: 0 0 20px #B77B99;
  transition: all 0s ease;
  -webkit-transition: all 0s ease;
  -moz-transition: all 0s ease;
  -ms-transition: all 0s ease;
  -o-transition: all 0s ease;
}

button:not(.arrows-button) {
  font-family: "Century Gothic", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 24px;
  line-height: 30px;
  height: 74px;
  width: 318px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: #5E2C3E;
  -webkit-box-shadow: 0 0 20px #5E2C3E;
          box-shadow: 0 0 20px #5E2C3E;
  border: none;
  cursor: pointer;
}
button:not(.arrows-button):hover {
  background-color: #B77B99;
  -webkit-box-shadow: 0 0 75px #B77B99;
          box-shadow: 0 0 75px #B77B99;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
button:not(.arrows-button):not(:hover) {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
button:not(.arrows-button):active {
  background-color: #7D3B52;
  -webkit-box-shadow: 0 0 20px #7D3B52;
          box-shadow: 0 0 20px #7D3B52;
  transition: 0s;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -ms-transition: 0s;
  -o-transition: 0s;
}

.container {
  width: 1366px;
  margin: 0 auto;
  padding: 0 40px;
}

section {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__logo > img {
  cursor: pointer;
}

.nav__menu {
  display: none;
}

.section1__textblock > p {
  padding: 30px 0;
}

.section1__textblock > button {
  margin-top: 20px;
}

.WWW, .w2 {
  -webkit-animation-name: WWW;
          animation-name: WWW;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
@-webkit-keyframes WWW {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
@keyframes WWW {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

.section2__img > img {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-box-shadow: 0 0 20px white;
          box-shadow: 0 0 20px white;
}

.section2__textblock > p {
  padding: 30px 0;
}

.container__section3 > h1, .container__section5 > h1 {
  margin: 0 auto;
  padding-bottom: 50px;
}

.section3__for-blocks {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container__section3 {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section3__block {
  background-color: #5E2C3E;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-box-shadow: 0 0 20px #5E2C3E;
          box-shadow: 0 0 20px #5E2C3E;
  padding: 20px 30px;
}
.section3__block p {
  padding-top: 16px;
}

.container__section4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 50px;
}
.container__section4 p {
  padding: 16px 0;
}

.container__section5 {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section5__for-blocks {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.section5__for-blocks > div {
  -webkit-box-shadow: 0 0 10px white;
          box-shadow: 0 0 10px white;
  width: 1fr;
  height: 410px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 35px 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  background-size: 100% 100%;
  cursor: pointer;
}
.section5__for-blocks > div img {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.section5__for-blocks > div:hover {
  -webkit-box-shadow: 0 0 20px white;
          box-shadow: 0 0 20px white;
  transform: scale(1.03, 1.03);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scale(1.03, 1.03);
  -moz-transform: scale(1.03, 1.03);
  -ms-transform: scale(1.03, 1.03);
  -o-transform: scale(1.03, 1.03);
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.section5__for-blocks > div:not(:hover) {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.section5__block1 {
  background: url(./img/тыква.jpg);
}

.section5__block2 {
  background: url(./img/дракон.jpg);
}

.section5__block3 {
  background: url(./img/труба.jpg);
}

.section5__block4 {
  background: url(./img/джойстик.jpg);
}

.section5__block5 {
  background: url(./img/вк.jpg);
}

.section5__block6 {
  background: url(./img/шапка.jpg);
}

.section5__block7 {
  background: url(./img/пальмы.jpg);
}

.section5__block8 {
  background: url(./img/жвачка.jpg);
}

.section5__block9 {
  background: url(./img/йога.jpg);
}

.arrows-button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  transform: scale(0.5, 0.5);
  -webkit-transform: scale(0.5, 0.5);
  -moz-transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  -o-transform: scale(0.5, 0.5);
  cursor: pointer;
}

.container__arrows {
  margin-top: -100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.container__arrows .points {
  transform: scale(1, 0.5);
  -webkit-transform: scale(1, 0.5);
  -moz-transform: scale(1, 0.5);
  -ms-transform: scale(1, 0.5);
  -o-transform: scale(1, 0.5);
}

.container__nav-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 28px 0;
}

.container__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 70px 0;
}
.container__footer img {
  padding: 0 10px;
  cursor: pointer;
}

.w2 {
  display: none;
}

.p2 {
  display: none;
}

#d {
  position: fixed;
}

#okno-block {
  display: none;
}
#okno-block .container__okno-block {
  margin: -550px auto;
  z-index: 100;
  background-color: black;
  width: 904px;
  height: 700px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-box-shadow: 0 0 20px white;
          box-shadow: 0 0 20px white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#okno-block .container__okno-block span {
  color: white;
  font-size: 60px;
  font-weight: 500;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-right: 15px;
  cursor: pointer;
}
#okno-block .container__okno-block h1 {
  padding: 20px 0 35px;
}
#okno-block .container__okno-block input {
  padding: 22px 200px 22px 22px;
  margin: 15px 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: none;
  font-family: "Century Gothic", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 24px;
  line-height: 30px;
  -webkit-box-shadow: 0 0 20px white;
          box-shadow: 0 0 20px white;
  color: black;
}
#okno-block .container__okno-block button {
  margin-top: 50px;
}

.nav-ada {
  display: none;
}

.container__nav-ada {
  display: none;
}

@media (min-width: 1366px) {
  .okno {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 425px) {
  .nav-ada {
    display: block;
  }

  .container__nav-ada {
    display: none;
  }

  .nav__link-ada {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 100px;
    margin-bottom: -100px;
  }
  .nav__link-ada a {
    padding: 15px 0;
  }

  .a-ada {
    font-family: "Century Gothic", sans-serif;
    font-weight: 400;
    color: white;
    font-size: 48px;
    line-height: 58px;
  }

  .arrows-button {
    padding: 0 0px;
  }

  .container {
    padding: 0 100px;
  }

  .nav__link {
    display: none;
  }

  .nav__menu {
    display: block;
    transform: scale(2, 2);
    -webkit-transform: scale(2, 2);
    -moz-transform: scale(2, 2);
    -ms-transform: scale(2, 2);
    -o-transform: scale(2, 2);
    -webkit-transform-origin: top;
            transform-origin: top;
  }

  .nav__logo {
    transform: scale(2, 2);
    -webkit-transform: scale(2, 2);
    -moz-transform: scale(2, 2);
    -ms-transform: scale(2, 2);
    -o-transform: scale(2, 2);
    -webkit-transform-origin: top;
            transform-origin: top;
  }

  section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-bottom: 0%;
  }
  section div {
    padding: 50px 0;
  }

  .w2 {
    display: block;
  }

  .WWW {
    display: none;
  }

  .container__section1 > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .section1__textblock > p {
    text-align: center;
  }

  button {
    width: 400px;
    height: 130px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
  }

  .container__section2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container__section2 p {
    max-width: 890px;
  }

  .p1 {
    display: none;
  }

  .p2 {
    display: block;
  }

  .section3__for-blocks {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .section3__for-blocks div {
    margin: 30px auto;
    max-width: 900px;
  }

  .section5__for-blocks {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .section5__for-blocks div {
    height: 900px;
    width: 900px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 30px auto;
  }
}
